body {
  background-color: #fafafa;
  font-family: "Ubuntu", sans-serif;
  width: 100%;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  letter-spacing: -1px;
}

h2 {
  font-size: 1.8rem;
}

p {
  line-height: 2rem;
  margin-top: 1.6rem;
}

#body {
  font-family: "Overpass", sans-serif;
}

#title {
}

#title .container-fluid {
  padding: 0.5% 10% 5% 12%;
  text-align: left;
}

#features-right {
}

#features-body {
}

#features-left {
}

#footer {
}

#logo {
  margin-right: 3.5rem;
}

@media (max-width: 1440px) {
}

.attribution {
  background-color: lightgrey;
  color: black;
  text-align: center;
}

.big-heading {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -2px;
}

.body-colored-section {
  background: url(./images/bg-pattern-circles.svg) no-repeat left -52% top 81%,
    linear-gradient(90deg, rgba(44, 45, 63, 1) 0%, rgba(63, 65, 100, 1) 80%);
  border-radius: 0 100px;
  color: white;
  height: 25rem;
}

.body-colored-section h1 {
  margin-top: 1.5rem;
  /* white-space: nowrap; */
}

.body-colored-section h1,
p {
  margin-left: 0.5rem;
}

.body-colored-section img {
  position: relative;
  right: 8%;
  top: -29%;
}

.btn {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}

.btn:focus {
  box-shadow: none;
  outline: none;
}

.btn-login {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.55);
  font-weight: 600;
  margin: 5% 2% 5% 0;
}

.btn-login:hover {
  color: #ffdeda;
}

.btn-round {
  margin: 0.5rem;
  padding: 10px 0 10px 0;
  width: 8rem;
}

.btn-round-pink {
  color: white;
  border-color: white;
}

.btn-round-pink:hover {
  background-color: white;
  color: #ff7a85;
}

.btn-round-white {
  background-color: white;
  color: #ff525d;
}

.btn-round-white:hover {
  background-color: #fe7c88;
  color: #ffdeda;
}

.container-fluid {
  padding: 7% 12%;
}

.dropdown-item:hover {
  background-color: transparent;
  font-weight: 600;
}

.dropdown-menu.show {
  margin-top: 15px;
  padding: 25px 15px 25px 15px;
}

.dropdown-toggle {
  font-weight: bold;
  margin-right: 20px;
}

.dropdown-toggle:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
}

.dropdown-toggle::after {
  content: none;
}

footer#footer {
  background-color: #25252d !important;
  border-radius: 0 100px 0 0;
  color: #c8c8cb !important;
  font-family: "Ubuntu", sans-serif;
  /* height: 45vh;
  width: 100%; */
}

footer a {
  color: #c8c8cb !important;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.15rem;
}

footer .container-fluid {
  padding-top: 3% 4%;
}

footer h5 {
  color: white;
  font-size: 1rem !important;
}

footer li {
  margin-bottom: 0.5rem;
}

footer .text-uppercase {
  text-transform: none !important;
}

.heading {
  color: white;
  font-family: "Overpass", sans-serif;
  margin-top: 8.5vh;
  text-align: center;
}

.navbar {
  padding: 0 0 0 0;
}

.rotate-img {
  transform: rotate(180deg);
}

.small-heading {
  color: #ffdeda;
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

.top-colored-section {
  background: url(./images/bg-pattern-intro.svg) no-repeat left 25% bottom 48%;
  background-size: 355vh;
  border-bottom-left-radius: 100px;
  height: 66vh;
}

.white-section-left {
  color: #4b5862;
  height: 90vh;
  margin-top: 23vh;
}

.white-section-left h2 {
  color: #1f3f5b;
}

.white-section-left h2,
p {
  margin-left: 0.5rem;
}

.white-section-left img {
  left: -33%;
  object-fit: cover;
  position: relative;
  top: -22%;
}

.white-section-left p {
  margin-bottom: 3.5rem;
}

.white-section-right {
  color: #4b5862;
  height: 105vh;
  margin-top: 6vh;
}

.white-section-right h1,
h2 {
  color: #1f3f5b;
}

.white-section-right h1 {
  text-align: center;
  margin-bottom: 11vh;
}

.white-section-right img {
  height: 100vh;
  max-width: 75vh;
  object-fit: cover;
  object-position: -5% 0;
  overflow-x: hidden;
  position: relative;
  right: -4%;
  top: -28%;
}

.white-section-right p {
  margin-bottom: 3.5rem;
}
